:root {
    --color: #ddd;
    --background: #333;
    --bg-highlight: #111;
    --bg-input: #222;
}

@media (prefers-color-scheme: light) {
    :root {
        --color: #333;
        --background: #ddd;
        --bg-highlight: #fff;
        --bg-input: #eee;
    }
}

body {
    font-family: sans-serif;
    font-size: 1.3rem;
    color: var(--color);
    background: var(--background);
    margin: 0;
}

#app {
    width: fit-content;
    margin: 2rem auto;
}

input, span {
    font: inherit;
    color: inherit;
    background: var(--bg-input);
    border: none;
    width: 8ch;
    margin: 0.3rem;
    padding:0.1rem;
}

.property {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.time{
    background: var(--bg-highlight);
    padding: 1rem;
}

svg{
    margin:0.3rem;
}